* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.logo {
  width: 110px;
}
.text__menu {
  letter-spacing: 0.2rem;
}

.color a:hover {
  background-color: pink;
}

.carousel-inner {
  max-height: 39rem;
}

.background__main {
  background-image: url(../assets/fondo-main.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.conoceme span {
  color: pink;
}
.container__carousel span {
  color: pink;
}

@media (max-width: 768px) {
  #intro,
  .conoceme {
    width: 90% !important;
  }
  .background__main {
    height: 70vh;
  }
  .main__row {
    width: 100% !important;
  }
}
footer p {
  color: gainsboro;
}
